/**
 * Base elements
 */
* { margin:0; padding: 0; }
body {
  background: #F6F8EE;
  color: #121310;
}
h1 {
  color: #F6F8EE
  font: 24px "Helvetica" sans-serif;
  margin-bottom: 16px;
}

/**
 * Class specific
 */
.main {
  width: 95%;
  margin: 32px auto;
}
.chart {
  font: 10px sans-serif;
}
.chart rect.print {
  stroke: #899752;
  fill: #D6E68A;
}
.chart rect.copy {
  stroke: #899752;
  fill: #e6f69A;
}
.chart text {
  fill: #121310;
}
.chart text.rule {
  fill: #899752;
}
